{% include 'partials/_header.html' %}

<div class="container-fluid">
    <div class="row">
        {% load static %}
        <div class="col-sm-12 col-md-10 col-md-offset-2 main">
            <h1 class="sub-header">Settings</h1>
            <div class="col-sm-6">
                <div class="all-shutters">
                    <form id="settings-form" class="settings-form form" action="#CreateApplySettingsAction" method="post">
                        {% csrf_token %}
                        <label for="selControlUnit">Select a unit: </label>
                        <select class="form-control" name="selControlUnit" id="selControlUnit" onchange="loadSettings(this);">
                            <option id="noDeviceSelected-option" value="-1">Select a Control Unit</option>
                        </select>
                        <hr>
                        <div class="allSettingsContainer">
                            <div class="col-sm-12" id="introText">
                              <h3 style="width:500px;">
                                Please select a device
                              </h3>
                            </div>
                            <div style="display:none;" id="settings-loading" class="col-sm-10 col-sm-offset-1 rolloutSettings loading">
                              <img src="{% static "slow-loading.gif"%}" alt="Loading.." />
                            </div>
                            <div style="display:none;" class="col-sm-10 col-sm-offset-1 rolloutSettings">
                                <span class="value-notice">Value should be in centimeters from the top of the window blind (cm)</span>
                                <label for="maxRolloutAmount">How far down would you like the window blinds to be when rolled down?</label>
                                <input type="number" min="0" step="1" max="255" value="" class="form-control" id="distMax" name="maxRolloutAmount">
                                <label for="maxRolloutAmount">How far down would you like the window blinds to be when rolled up?</label>
                                <input type="number" min="0" step="1" max="255" value=""class="form-control" id="distMin" name="minRolloutAmount">
                            </div>
                            <div style="display:none;" class="col-sm-10 col-sm-offset-1 temperatureBoundaries">
                                <span class="value-notice">Value should be in degrees Celsius (°C)</span>
                                <label for="maxRolloutAmount">At what temperature should the window blinds roll down?</label>
                                <input type="number" min="0" step="1" max="255" value=""class="form-control" id="temp" name="maxTemperature">
                                <span class="value-notice">Value should be between 0 and 1023, 0 is very dark and 1023 is very bright</span>
                                <label for="maxRolloutAmount">At what lightintensity should the window blinds roll down?</label>
                                <input type="number" min="0" step="1" max="1023" value=""class="form-control" id="light" name="maxLightIntensity">
                            </div>
                            <div style="display:none;" class="col-sm-12 submitBtnContainer">
                                <input type="submit" class="btn btn-primary form-control" value="Submit" />
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/_footer.html' %}
