.rolloutSettings label {
  padding-top: 7px;
}

.rolloutSettings label:first-of-type {
  padding-top: 0px;
}

.col-md-offset-2 {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.value-notice {
  display: block;
  text-align: center;
  font-style: italic;
  color: #7D7D7D;
  font-size: 1.1em;
  margin-top: 10px;
}

.rolloutSettings .value-notice {
  margin-top: 0;
}

.submitBtnContainer {
  margin-top: 15px;
}
